# Data Visualization of Exchange Rates

## Introduction

In this project, we are going to visualize the exchange rates of euro.

## Dataset

The dataset we'll use describes Euro daily exchange rates between 1999 and 2021. The euro is the official currency in most of the countries of the European Union.

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
# load the dataset
df = pd.read_csv('euro-daily-hist_1999_2022.csv')

### dataset insight

In [9]:
# get the general information about the dataset

print("*" * 100)
print("General Information about the Dataset:")
print(df.info())

print("*" * 100)
print("First 5 Rows of the Dataset:")
print(df.head())

****************************************************************************************************
General Information about the Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6785 entries, 0 to 6784
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Period\Unit:              6785 non-null   object
 1   [Australian dollar ]      6785 non-null   object
 2   [Bulgarian lev ]          6383 non-null   object
 3   [Brazilian real ]         6517 non-null   object
 4   [Canadian dollar ]        6785 non-null   object
 5   [Swiss franc ]            6785 non-null   object
 6   [Chinese yuan renminbi ]  6517 non-null   object
 7   [Cypriot pound ]          2346 non-null   object
 8   [Czech koruna ]           6785 non-null   object
 9   [Danish krone ]           6785 non-null   object
 10  [Estonian kroon ]         3130 non-null   object
 11  [UK pound sterling ]      6785 non-null   object
 12  [Greek drachma ]          520 non-null    object
 13  [Hong Kong dollar ]       6785 non-null   object
 14  [Croatian kuna ]          5941 non-null   object
 15  [Hungarian forint ]       6785 non-null   object
 16  [Indonesian rupiah ]      6785 non-null   object
 17  [Israeli shekel ]         6517 non-null   object
 18  [Indian rupee ]           6517 non-null   object
 19  [Iceland krona ]          4378 non-null   float64
 20  [Japanese yen ]           6785 non-null   object
 21  [Korean won ]             6785 non-null   object
 22  [Lithuanian litas ]       4159 non-null   object
 23  [Latvian lats ]           3904 non-null   object
 24  [Maltese lira ]           2346 non-null   object
 25  [Mexican peso ]           6785 non-null   object
 26  [Malaysian ringgit ]      6785 non-null   object
 27  [Norwegian krone ]        6785 non-null   object
 28  [New Zealand dollar ]     6785 non-null   object
 29  [Philippine peso ]        6785 non-null   object
 30  [Polish zloty ]           6785 non-null   object
 31  [Romanian leu ]           6723 non-null   float64
 32  [Russian rouble ]         5994 non-null   object
 33  [Swedish krona ]          6785 non-null   object
 34  [Singapore dollar ]       6785 non-null   object
 35  [Slovenian tolar ]        2085 non-null   object
 36  [Slovak koruna ]          2608 non-null   object
 37  [Thai baht ]              6785 non-null   object
 38  [Turkish lira ]           6723 non-null   float64
 39  [US dollar ]              6785 non-null   object
 40  [South African rand ]     6785 non-null   object
dtypes: float64(3), object(38)
memory usage: 2.1+ MB
None
****************************************************************************************************
First 5 Rows of the Dataset:
  Period\Unit: [Australian dollar ] [Bulgarian lev ] [Brazilian real ]  \
0   2025-04-02               1.7146           1.9558            6.1212
1   2025-04-01               1.7255           1.9558            6.1679
2   2025-03-31               1.7318           1.9558            6.2507
3   2025-03-28                1.712           1.9558            6.2252
4   2025-03-27               1.7101           1.9558            6.2154

  [Canadian dollar ] [Swiss franc ] [Chinese yuan renminbi ] [Cypriot pound ]  \
0             1.5479         0.9543                   7.8529              NaN
1             1.5529          0.952                   7.8431              NaN
2             1.5533         0.9531                   7.8442              NaN
3             1.5444         0.9525                   7.8445              NaN
4             1.5425         0.9524                   7.8361              NaN

  [Czech koruna ] [Danish krone ]  ... [Romanian leu ] [Russian rouble ]  \
0          24.963          7.4611  ...          4.9775               NaN
1          24.954          7.4616  ...          4.9774               NaN
2          24.962          7.4613  ...          4.9771               NaN
3           24.96          7.4616  ...          4.9774               NaN
4          24.982          7.4605  ...          4.9773               NaN

  [Swedish krona ] [Singapore dollar ] [Slovenian tolar ] [Slovak koruna ]  \
0           10.764              1.4508                NaN              NaN
1           10.816              1.4492                NaN              NaN
2           10.849              1.4519                NaN              NaN
3            10.82              1.4481                NaN              NaN
4          10.8235               1.445                NaN              NaN

  [Thai baht ] [Turkish lira ] [US dollar ]  [South African rand ]
0        36.93         40.9573       1.0803                20.1042
1       36.846         40.9201       1.0788                19.7741
2       36.706         41.0399       1.0815                19.8782
3       36.664         41.0387       1.0797                19.6113
4       36.529         40.9940       1.0785                19.7061

[5 rows x 41 columns]

From the above result, we can see that the dataset have 39 countries exchange rate, there are null values present in different columns. The data type is not consistent, some are objects and some are float, but they all represent the number.

## Dataset Cleaning

Before we start creating data visualizations, we'll need to a bit of data cleaning. 
Our focus is the exchange rate between the euro and the american dollar.

Thus, we will do the following:
- Rename the US dollar and PEriod\Unit columns to more professional names.
- Change the Period\Unit column from object to datetime datatype.
- Sort the values by time in ascending order.
- Reset the index.

In [10]:
# rename the columns for better readability
df = df.rename(columns={
    "Period\Unit": "Date",
    "US dollar": "USD"
})

df["Date"] = pd.to_datetime(df[])

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 6-7: truncated \UXXXXXXXX escape (3214831718.py, line 3)